<html>
    <head>
        <title>Job Portal</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="https://www.thelearningsetu.com/static/img/logo_v2_favicon.png">

        <!-- all the css here  -->
        {% block css %} {% endblock %}
        <style>
            body{
                width: 50%;
                margin: auto;
                padding: 20px;
            }
        </style>
    </head>
    <body>
        {% block body %} {% endblock %}
        
        
        <!-- script here -->
    </body>
</html>